@using ViewModels
@using Microsoft.EntityFrameworkCore;
@model BattlefieldPartialModel



@{

    <table class="bftable">
        @foreach (var item in Model.Battlefield)
        {
            <tr>

                @foreach (var item2 in item)
                {
                    if (item2.Hidden != true || Model.UserGame.User == Model.LoggedInUser)
                    {
                        if (item2.PieceState == Models.Enums.PieceState.Water)
                        {
                            <td class="bftd bg-primary" style="color: white">
                                <a asp-page-handler="PieceClick" asp-route-x="@item2.PosX" asp-route-y="@item2.PosY" asp-route-ug="@Model.UserGame.Id"><div style="width: 100%; height: 100%">@item2.PosX-@item2.PosY</div></a>
                            </td>

                        }
                        if (item2.PieceState == Models.Enums.PieceState.Ship)
                        {
                            <td class="bftd bg-dark" style="color: white">@item2.PosX - @item2.PosY</td>
                        }
                    }
                    else
                    {
                        <td class="bftd" >
                                <a asp-page-handler="PieceClick" asp-route-x="@item2.PosX" asp-route-y="@item2.PosY" asp-route-ug="@Model.UserGame.Id"><div style="width: 100%; height: 100%">@item2.PosX-@item2.PosY</div></a>
                        </td>
                    }

                }
            </tr>
        }
    </table>

}