@page
@model Battleships.Pages.GamesListModel
@{
    ViewData["Title"] = "GamesList";
}

<h1>GamesList</h1>
<table>
    <tr>Všechny hry
    <tr />
    @foreach (var item in Model.AllGames)
    {
        <tr>
            <td><i>@item.GameId</i></td>
            <td><a class="btn btn-primary" asp-page-handler="EnterGame" asp-route-value="@item.GameId">Enter this game</a></td>
            <td><a class="btn btn-danger" asp-page-handler="RemoveGame" asp-route-value="@item.GameId">Remove</a></td>
        </tr>
    }

    <tr>Hry, kde jste na tahu</tr>
    @foreach (var item in Model.ActiveGames)
    {
        <tr>
            <td><i>@item.GameId</i></td>
            <td><a class="btn btn-primary" asp-page-handler="EnterGame" asp-route-value="@item.GameId">Enter this game</a></td>
            <td><a class="btn btn-danger" asp-page-handler="RemoveGame" asp-route-value="@item.GameId">Remove</a></td>
        </tr>
    }
</table>